<!doctype html>
<html lang="en" ng-app="cssGen">
<head>
  <meta charset="utf-8">
  <title>My AngularJS CSS Generation App</title>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body ng-controller="cssApp">
  
  <label for="items">CSS</label>
  <input type="text" ng-model="css" id="items" />
  
  <p>{{css}}</p>
  
  <ul>
    <li ng-repeat="item in items">
      {{item.name}}
      <p>{{item.snippet}}</p>
    </li>
  </ul>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script src="https://cdn.firebase.com/v0/firebase.js"></script>
  <script src="js/angularfire.js"></script>
</body>
</html>
